body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calc {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px 40px;
    width: 300px;
    text-align: center;
}

.header {
    background: #f4f4f4;
    border-bottom: 2px solid #f26964;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
    margin: -20px -20px 20px -20px;
}

h1 {
    color: #d47f6a;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input {
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    width: calc(100% - 60px);
    font-size: 1em;
}

input:focus {
    outline: none;
    border-color: #f26964;
}
.fa-usd:before,
.fa-calendar:before {
    font-size: 18px;
}

.interest:before {
    content: "%";
    font-weight: bold;
    font-size: 18px;
}

.btn {
    background: #f26964;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.btn:active {
    box-shadow: none;
    top: 2px;
}

#output {
    border-radius: 10px;
    color: #919191;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    visibility: visible;
}
